html{
    font-size: 30px;
}

h1{
    text-align: center;
    color: red;
}

p{
    text-align: justify;
    text-align: center;
    color: white;
    font-weight: lighter;
}

a{
    color: white;
}

body{
    background-image: url(/img/fondo.jpg);
    margin: 0% auto;
    max-width: 1200px;
    background-color: black;
    background-size: cover;

}
h3{
    text-align: center;
    color: white;
}

img{
    width: 100%;
    border-radius: 10px;
}

.texto{
    text-align: justify;
}
.concierto{
    text-align: justify;
}

nav{
    text-align: right;
    margin-top: 20px;
}

nav a:hover{
    color: red;
    
}

form{
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
}

.discos{
    text-align: center;
    width: 30%;
    height: 30%;    
}

.disc img{
    width: 200px;
}

.disc li{
    margin: 20px 65px 20px 47px;
    list-style: none;
    text-align: center;
}

.disc h4{
    color: red;
}
.disc h2{
    color: white;
}

.clear{
    clear: both;
}


.discos{
    float: left;
}

.discos a{
    text-decoration: none;
    color: #000;
}

.permiso{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 1400px;
    margin-bottom: 50px;
    
}
footer{
    text-align: center;
    color: white;
}
.tituloalbum{
    text-align: center;
    color: red;
}

